body {
    background-color: #f0f8ff;
  }
#hospital_img{
  padding-right: 20px;
}
#cross_img{
  display:flex;
  align-items: center;
  padding-left:120px;
  padding-top:20px;
  padding-bottom:none;
}
.Form{
  padding-left: 20px;
  border:none;
  box-shadow: none;
}
.card {
    background-color: #ffffff;
    box-shadow: none;
    border-radius: none;
}
  
  .nav-tabs .nav-link {
    border: none;
    background-color: #f0f8ff;
    font-weight: bold;
    color: #555;
  }
  
  .nav-tabs .nav-link.active {
    background-color: #007bff;
    color: white;
  }

  
  .btn-success {
    background-color: #28a745;
    border: none;
  }
  
  a {
    color: #007bff;
  }
  
  a:hover {
    text-decoration: none;
  }
